* {
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(10, 10, 10);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
}

.text {
    background: linear-gradient(145deg, #4aaaf8, #954af8);
    padding: 0rem 1rem;
    height: 20vh;
    display: flex;
    align-items: center;
    border-radius: 0px 20px;
}

.container {
    display: flex; 
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

img {
    width: 10rem;
    height: 10rem;
}

h1 {
    font-size: 6rem;
    background-color: transparent;
    color: aliceblue;
    letter-spacing: -0.3rem;
}

form {
    color: black;
    background-color: aliceblue;
    min-height: 10rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

form h5{
    color: black;
}

input, label {
    color: black;
}

form .form-control {
    width: 100%;
}


footer {
    background-color: #4aaaf8;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    background-color: transparent;
    padding: 1rem;
}